<!-- Navbar start -->

<app-navbar-f></app-navbar-f>

<!-- Modal Search Start -->

<app-search-bar></app-search-bar>

<!-- banderole dynamique produit avec recherche -->
<app-dynamique-image-search></app-dynamique-image-search>

<!-- liste des produits-->
<app-product-f></app-product-f>


<!-- ################################################# AVIS CLIENT ON PEUT AJOUTER JUSTE EN DESSOUS DE CETTE LIGNE  #################################################-->

 

<!-- Footer -->

<app-footer-f></app-footer-f>
